*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: #dbf7d0;
  margin: 0;
}

li {
  padding: 10px;
}
/* #page-wrap {
  text-align: center; */
/* Prevent sidebar from showing a scrollbar on page */
/* overflow: auto;
} */

.navbar{
  background-color: rgba(46, 25, 25, 0.918);
  display: block;
  color: white;
  padding-left: 16px;
  display: flex;
}

.container{
  /* width: 100px; */
  background-color: #379683;
  margin-bottom: 5px
}


.item{
  border: 5px solid black;
  width: 340px;
}

.poster{
  width: 300px;
}

/* Individual item */
.bm-item {
  display: inline-block;
  /* Our sidebar item styling */
  text-decoration: none;
  list-style: none;
  margin-bottom: 10px;
  color: #d1d1d1;
  transition: color 0.2s;
}

/* The rest copied directly from react-burger-menu docs */

/* Position and sizing of burger button */
.bm-burger-button {
  position: absolute;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: rgb(36, 75, 36);
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
  width: 20%;
}

#root {
  margin-top: 20px;
  /* padding: 20px;
  text-align: center; */
  margin: auto;
}
.root-item {
  padding: 30px;
}

#App {
  font-family: sans-serif;

  /* Give app full page to work with */
  height: 100vh;
}
element.style {
  height: 30%;
}
.result {
  padding-top: 50px;
}
.nav-result {
  padding: 30px;
  position: relative;
}
/* img {
  width: 300px;
} */
#mySelect {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  margin-bottom: 30px;
}

input{
  display: block;
  width: 99%;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
}
